
{% extends "base_inner.html" %}
{% block content %}

  <div id="accountContent">
    <div class="row" id="mainAccountRow">
      <div class="row" id="accountRow1">
        <a href="users"> <!-- <a href="users.html"> -->
          <div class="col-md-5" id="accountManageUsers">
            <h1>Users</h1>
          </div>
        </a>
        <a href="banking"> <!-- <a href="banking.html"> -->
          <div class="col-md-5" id="accountBanking">
           <h1>Banking</h1>
          </div>
        </a>
      </div>
      <div class="row" id="accountRow2">
        <a href="grid"> <!-- <a href="grid.html"> -->
          <div class="col-md-5" id="accountGrid">
            <h1>Grid</h1>
          </div>
        </a>
        <a href="triggers"> <!-- <a href="triggers.html"> -->
          <div class="col-md-5" id="accountTriggers">
            <h1>Triggers</h1>
          </div>
        </a>
      </div>
    </div>
  </div>
 {% endblock %}
