


<!-- new changes-->
{% extends "base_inner.html" %}
{% block content %}
<div class="container1" style="color: #fff">
    <div class="row1">
        <div class="col-md-3"></div>

        <div class="col-md-6">
            <h2>Add BankAccount :</h2>
            <div class="form-top">
                <div class="form-top-right">
                    <i class="fa fa-key"></i>
                </div>
            </div>
            <div class="form-bottom">
                <form role="form" style="color: #607D8B" method="POST" action="{{ app_path }}">
                  {% csrf_token %}
                  <div class="form-group">
                      <label >Country:</label>
                      <div class="errormsg" ></div>
                      {{ form.country }}
                  </div>
                  <div class="form-group">
                      <label >Currency :</label>
                      <div class="errormsg"></div>
                      {{ form.currency }}
                  </div>
                  <div class="form-group">
                      <label>Routing Number :</label>
                      <div class="errormsg"></div>
                      {{ form.routing_number}}
                  </div>
                  <div class="form-group">
                      <label >Account Number :</label>
                      <div class="errormsg"></div>
                      {{ form.account_number }}
                  </div>
                  <div class="form-group">
                      <label>Name :</label>
                      <div class="errormsg"></div>
                      {{ form.name }}
                  </div>
                  <div class="form-group">
                      <label>Account Holder Type :</label>
                      <div class="errormsg"></div>
                      {{ form.account_holder_type }}
                  </div>
                  <br>

                  <div class="v-wrap">
                      <button type="submit" id="cu-btn" class="btn btn-primary vbox">Submit</button>
                  </div>
                </form>
            </div>
        </div>

        <div class="col-md-3">

        </div>

    </div>
</div>

<!-- end -->


<script type="text/javascript">
    $(function () {
        Stripe.setPublishableKey("{{stripe_public_key}}");

        function stripeResponseHandler(status, response) {
            var $form = $('#add_bank_account_form');

            if (response.error) {
                // Show the errors on the form
                $form.find('.bank-errors').text(response.error.message);
                $form.find('button').prop('disabled', false);
            } else {
                // response contains id and bank_account, which contains additional bank account details
                var token = response.id;
                // Insert the token into the form so it gets submitted to the server
                $form.append($('<input type="hidden" name="stripeToken" />').val(token));
                // and submit
                $form.get(0).submit();
            }
        }

        $('#add_bank_account_form').submit(function (ev) {
            ev.preventDefault();
            Stripe.bankAccount.createToken({
                country: $('#id_country').val(),
                currency: 'usd',
                routing_number: $('#id_routing_number').val(),
                account_number: $('#id_account_number').val(),
                name: $('#id_name').val(),
                account_holder_type: $('#id_account_holder_type').val()
            }, stripeResponseHandler);
        });


    });
</script>
{% endblock %}
