


<!-- new changes-->
{% extends "base_inner.html" %}
{% block content %}
<div class="container1" style="color: #fff">
    <div class="row1">
        <div class="container-mid">
            <center><h2>Add/Edit Bank Account</h2></center>
            <div class="form-top">
                <div class="form-top-right">
                    <i class="fa fa-key"></i>
                </div>
            </div>
            <div class="form-bottom">
                <form role="form" style="color: #607D8B" method="POST" action="{{ app_path }}" id="add_bank_account_form">
                  {% csrf_token %}
                  <p class="bank-errors"></p>
                  <div class="form-group">
                      <label class="labelform floatleft">Country:</label>
                      <div class="fieldform">{{ form.country }}</div>
                      <div class="errormsg" >{{ form.country.errors }}</div>
                      <div class="clear"></div>
                  </div>
                  <div class="clear"></div>
                  <div class="form-group">
                      <label class="labelform floatleft">Currency :</label>
                      <div class="fieldform">{{ form.currency }}</div>
                      <div class="errormsg">{{ form.currency.errors }}</div>
                      <div class="clear"></div>
                  </div>
                  <div class="form-group">
                      <label class="labelform floatleft">Routing Number :</label>
                      <div class="fieldform">{{ form.routing_number}}</div>
                      <div class="errormsg">{{ form.routing_number.errors }}</div>
                      <div class="clear"></div>
                  </div>
                  <div class="form-group">
                      <label class="labelform floatleft">Account Number :</label>
                      <div class="fieldform">{{ form.account_number }}</div>
                       <div class="errormsg">{{ form.account_number.errors }}</div>
                      <div class="clear"></div>
                  </div>
                  <div class="form-group">
                      <label class="labelform floatleft">Name :</label>
                      <div class="fieldform">{{ form.name }}</div>
                      <div class="errormsg">{{ form.name.errors }}</div>
                      <div class="clear"></div>
                  </div>
                  <div class="form-group">
                      <label class="labelform floatleft">Account Holder Type :</label>
                      <div class="fieldform">{{ form.account_holder_type }}</div>
                      <div class="errormsg">{{ form.account_holder_type.errors }}</div>
                      <div class="clear"></div>
                  </div>

                  <br>

                  <div class="v-wrap">
                      <input type="button" id="cu-btn" class="btn btn-primary vbox" value="Submit">
                  </div>
                </form>
            </div>
        </div>

        <div class="col-md-3">

        </div>

    </div>
</div>

<!-- end -->

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    $(function () {

        Stripe.setPublishableKey("{{stripe_public_key}}");

        function stripeResponseHandler(status, response) {
            var $form = $('#add_bank_account_form');

            if (response.error) {
                // Show the errors on the form
                $form.find('.bank-errors').text(response.error.message);
                $form.find('button').prop('disabled', false);
            } else {

                // response contains id and bank_account, which contains additional bank account details
                var token = response.id;
                // Insert the token into the form so it gets submitted to the server
                $('<input />').attr('type', 'hidden').attr('name', "stripeToken").attr('value', token).appendTo('#add_bank_account_form');
                // and submit
                $form.get(0).submit();
            }



        }


        $('#cu-btn').click(function(e){
            e.preventDefault();
            Stripe.bankAccount.createToken({
                country: $('#id_country').val(),
                currency: 'usd',
                routing_number: $('#id_routing_number').val(),
                account_number: $('#id_account_number').val(),
                name: $('#id_name').val(),
                account_holder_type: $('#id_account_holder_type').val()
            }, stripeResponseHandler);

        })


    });
</script>
{% endblock %}
