{% extends "base_inner.html" %}
{% block content %}
    <div class="container" id="bankingContent">
      <div class="row">           
        <table class="table">
          <thead>
            <tr>
              <th>Charge ID</th>
              <th>Description</th>
              <th>Amount</th>
              <th>Sales Tax</th>
              <th>Tip</th>
              <th>Created on</th>
            </tr>
          </thead>
          <tbody>
            {% for data in  payment_list %}
            <tr>
              <td>{{data.charge_id}}</td>
              <td>{{data.detail}}</td>
              <td>{{data.total_amount}}</td>
              <td>{{data.sales_tax}}</td>
              <td>{{data.tip}}</td>
              <td>{{data.payment_date}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>                
      </div>
    </div>
    <div class="container">
      <div class="row bankingBottom">
        {% if bankaccount %}
        <a href="{% url 'managed_account:edit_bank_account' bankaccount.id %}"><button class="btn btn-primary">Edit Bank Account</button></a>
        {% else %}
        <a href="{% url 'managed_account:add_bank_account' %}"><button class="btn btn-primary">Add Bank Account</button></a>
        {% endif %}
      </div>        
    </div>

 
{% endblock %}