{% extends "base_inner.html" %}
{% block content %}
    <div class="container" id="bankingContent">
      <div class="row">           
        <table class="table">
          <thead>
            <tr>
              <th>Charge ID</th>
              <th>Description</th>
              <th>Amount</th>
              <th>Sales Tax</th>
              <th>Tip</th>
              <th>Created on</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for data in  payment_list %}
            <tr>
              <td>{{data.charge_id}}</td>
              <td>{{data.detail}}</td>
              <td>{{data.total_amount}}</td>
              <td>{{data.sales_tax}}</td>
              <td>{{data.tip}}</td>
              <td>{{data.payment_date}}</td>
              <td>
                  <input type="radio" name="check" value="">      
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>                
      </div>
    </div>
    <div class="container">
      <div class="row bankingBottom">
        <button class="btn btn-primary">Edit</button>
      </div>        
    </div>

 
{% endblock %}