{% extends "base_inner.html" %}
{% block content %}

  <div id="trigger_name"><span style="color:#9e9e9e;">Trigger Name :</span> {{trigger_name}}</div>

  <div id="gridContent" >

      <form method="POST" novalidate>
        <div>
          {% csrf_token %}
            {{form.errors}}
          <p id="error_grid"></p>
          {% if grid %}
          <input id="id_grid_row" min="0" name="grid_row" type="number" value="{{grid.grid_row}}"  style="color:black;"/>
          X
          <input id="id_grid_column" min="0" name="grid_column" type="number" value="{{grid.grid_column}}" style="color:black;" />
          {% else %}
          <input id="id_grid_row" min="0" name="grid_row" type="number" value="0"  style="color:black;"/>
          X
          <input id="id_grid_column" min="0" name="grid_column" type="number" value="0" style="color:black;"/>
          {% endif %}

        </div>
          <input type="hidden" value="{{trigger_id}}" name="trigger_id">
        <br>

        <div>
          <button type="submit" class="btn" id="saveGridBtn">Save</button>
        </div>
      </form>

      <br>
      <br>
      <br>

      <a href="" data-toggle="modal" data-target="#addTriggerModal" style="font-size:large;" >Change Trigger</a>

      <div class="modal fade" id="addTriggerModal" role="dialog">
        <div class="modal-dialog">

        <!-- Modal content-->
          <div class="modal-content" id="triggerModalStyle">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Triggers</h4>
            </div>

            <div class="modal-body">
              <div class="form-group">
                  {% for each in trigger %}

                  <p><a href="{% url 'managed_account:edit_grid' each.id %}">{{each}}</a></p>

                  {% endfor %}
              </div>
            </div>

          </div>

        </div>
      </div>
      <!-- END MODAL -->

  </div>
 
  <footer class="footer">
    <div class="container" id="footerText">
      <h5> &copy; 2016 Barhop Corporation</h5>
      <!-- <a href="terms.html"><h5><u>Terms and Conditions</u></h5></a> -->
    </div>
  </footer>

  <script>
    $(document).ready(function(){
        $("form").submit(function(){
            if ( $("#id_grid_row").val() == 0 || $("#id_grid_column").val() == 0 || $("#id_grid_row").val() == '' || $("#id_grid_column").val() == ''){
                $("#error_grid").text("Row or Column cannot be zero/empty");
                return false;
            }
        });
    });
  </script>

{% endblock %}