{% extends "base_inner.html" %}
{% block content %}

  <div id="triggerContent">
    <div>
    {% for trigger in trigger_data %}
      <div class="container-fluid" style="padding-left:0px; padding-right:0px; height:20%; border-bottom: 2px solid white;">
        <div class="col-md-8" style="background: #444954; height:100%; padding-top:3%; text-align:left;">{{ trigger.trigger_name }}</div>
        <div class="col-md-4" style="background: #444954; height:100%; padding-top:3%; border-left:2px solid white;">
            <a href="" class="edit_trigger" data-id={{trigger.id}} data-text={{trigger.trigger_name}} data-toggle="modal" data-target="#editTriggerModal">Edit</a> /
            <a href="{% url 'managed_account:delete_trigger' trigger.id %}" >Delete</a>
        </div>
      </div>
    {% endfor %}
    </div>
      <button type="button" class="btn" id="saveGridBtn" data-toggle="modal" data-target="#addTriggerModal" style="margin-top: 20px;">Add Trigger</button>

  <!-- Modal Add Trigger -->
  <div class="modal fade" id="addTriggerModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" id="triggerModalStyle">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Trigger</h4>
        </div>
        <div class="modal-body">
          <form action="." method="POST" id="addForm" style="color: #666;">
              {% csrf_token %}
              <div class="form-group">
                {{form.trigger_name}}
                <p id="ermsg"></p>
                <div class="errormsg">{{ form.trigger_name.errors| striptags }}</div>
              </div>
              <div class="form-group">                              
                <button type="submit" id="addbtn">Add</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- END MODAL -->

  <!-- Modal Edit Trigger -->
  <div class="modal fade" id="editTriggerModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" id="triggerModalStyle">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Trigger</h4>
        </div>
        <div class="modal-body">
          <form method="GET" id="editForm" style="color: #666;">

            <input type="hidden" name="triggerId"   id="trigger_id"/>
            
            <div class="form-group">
              <input type="text" name="triggerName" id="trigger_name"/>
              <p id="errmsg"></p>
            </div>            
              <div class="errormsg" id="edit_error"></div>
            <div class="form-group">  
              <input type="button" id="btn_edit" value="Edit Trigger">
            </div>
          </form>
        </div>
    </div>
  </div>
  </div>
  <!-- END MODAL -->
  </div>


 
  <footer class="footer">
    <div class="container" id="footerText">
      <h5> &copy; 2016 Barhop Corporation</h5>
      <!-- <a href="terms.html"><h5><u>Terms and Conditions</u></h5></a> -->
    </div>
  </footer>
  
</body>
</html>

<script type="text/javascript">

  $(document).ready(function(){
    var error = '{{ form.errors }}';
      if ( error != ''){
        $('#addTriggerModal').modal('show');
        }
  });

  $( ".edit_trigger" ).on( "click", function() {
     var value = this.getAttribute('data-text');
     var id = this.getAttribute('data-id');
     $("#trigger_name").val(value);
     $("#trigger_id").val(id);
  });


  $("#btn_edit").click(function(){

      trigger_name = $('#trigger_name').val()
      trigger_id = $('#trigger_id').val()

      regx = /-/gi
      if ( regx.test(trigger_name)){
          $("#errmsg").text("Hyphen(-) is not allowed");
          return false;
      }

      else{
          $.ajax({
            url: "{% url 'managed_account:edit_trigger' %}",
            type:'GET',
            data: {'trigger_name':trigger_name,'trigger_id':trigger_id},
            success: function (data){
               if(data['status'] == "success")
                   location.reload();
               else
                   $("#edit_error").text(data['success_message'])
            }
          });
      }
  });

  $("#addForm").submit(function(){
      var trigger_name = $("#id_trigger_name").val();
      regx = /-/gi
      if ( regx.test(trigger_name)){
          $("#ermsg").text("Hyphen(-) is not allowed");
          return false;
      }
  });

</script>

{% endblock %}