{% extends "base.html" %}
{% block content %}

  <div id="userContent">
    <div>
      <table id="mainTable" class="table">
            <thead><tr><th>Employee Name</th><th></th><th>Access Level</th><th></th></tr></thead>
            <tbody>
            {% for employe in employe_list %}
              <tr>
                <td>{{employe.employe.username}}</td>
                <td>
                  <button class="btn btn-danger" id="{{employe.employe.id}}" onclick="changePassword(this.id)">Change Password</button>
                </td>
                <td>
                    {% if employe.employe.is_staff %}
                    <label for="q1-y"><input type="radio" onclick="changeAccessLevel(this.id, this.value)"  name="{{employe.id}}" id="{{employe.id}}"  value="Team" /> Team</label>
                    <label for="q1-y"><input type="radio" onclick="changeAccessLevel(this.id, this.value)" checked="checked"  name="{{employe.id}}" id="{{employe.id}}" value="Admin" /> Admin </label>
                    {% else %}
                    <label for="q1-y"><input type="radio" onclick="changeAccessLevel(this.id, this.value)" checked="checked" name="{{employe.id}}" id="{{employe.id}}" value="Team" /> Team</label>
                    <label for="q1-y"><input type="radio" onclick="changeAccessLevel(this.id, this.value)"  name="{{employe.id}}" id="{{employe.id}}" value="Admin" /> Admin </label>
                    {% endif %}      
                                                                        
                </td>
                <td ><button class="btn btn-danger" id="{{employe.employe.id}}" onclick="deleteEmploy(this.id)" >Delete User</button> </td>
              </tr>
            {% endfor %}
            </tbody>
      </table>
    </div>
      <button type="button" class="btn" id="saveGridBtn" data-toggle="modal" data-target="#addUserModal">Add User</button>

  <!-- Modal Add user -->
  <div class="modal fade" id="addUserModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" id="triggerModalStyle">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add New Employe</h4>
        </div>
        <div class="modal-body">
          <form role="form" style="color: #fff" method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_username">Employe Username :</label>
                <div class="errormsg">{{ form.username.errors }}</div>
                <input for="id_mobile" type="text" name="username" class="form-control"
                       value="{% if form.username.value %}{{form.username.value}}{% endif %}"
                       placeholder="Username"/>
            </div>
            <div class="form-group">
                <label for="id_username">Employe Email :</label>
                <div class="errormsg">{{ form.email.errors }}</div>
                <input for="id_mobile" type="text" name="email" class="form-control"
                       value="{% if form.email.value %}{{form.email.value}}{% endif %}"
                       placeholder="Email"/>
            </div>
            <div class="form-group">
                <label for="id_username">Password :</label>
                <div class="errormsg">{{ form.password1.errors }}</div>
                <input for="id_password1" type="password" name="password1" class="form-control"
                       placeholder="Password"/>
            </div>
            <div class="form-group">
                <label for="id_username">Re-type Password :</label>
                <div class="errormsg">{{ form.password2.errors }}</div>
                <input for="id_password2" type="password" name="password2" class="form-control"
                       placeholder="Re-type Password"/>
            </div>
            <br>
            <div class="v-wrap">
                <button type="submit" id="cu-btn" class="btn btn-primary vbox">Sign Up</button>
            </div>
          </form>
        </div>    
    </div>
  </div>
  </div>
  <!-- END MODAL -->


  <!-- Modal change password -->
  <div class="modal fade" id="changePasswordModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" id="triggerModalStyle">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Change Password</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="changePasswordFormID" style="color: #fff" method="POST" action="">
            {% csrf_token %}
              <span id="passwordvalidation" style="color: red;"></span>
              <input id="userIDField" type="hidden" name="user_id" />
            <div class="form-group">
                <label for="id_username">New Password :</label>
                <input id="password1" type="text" name="password1" class="form-control"
                       placeholder="Username"/>
            </div>

            <div class="form-group">
                <label  for="id_username">Re-Enter New Password :</label>
                <input id="password2" type="text" name="password2" class="form-control"
                       placeholder=""/>
            </div>
            <br>
            <div class="v-wrap">
                <button type="button" id="passwordChangeButton" class="btn btn-primary">Change Password</button>
            </div>
          </form>

        </div>    
    </div>
  </div>
  </div>
  </div>
<script>
  
function changeAccessLevel(id, value){
  console.log("changeAccessLevel")
}

function deleteEmploy(userid){
  // alert(id);
  $.ajax({
    url: '{% url 'deleteEmploye' %}',
    type:'POST',
    data:{
      'data': userid,
    },
    success: function (data){
       if(data["success"] == 'True' ){
        window.location=window.location;
        console.log("success")
      }
      else{
        alert(data['error_msg']);
      }
    }
  });
}

function changePassword(userid){
  document.getElementById("userIDField").value = userid;
  $('#changePasswordModal').modal('show');
}

</script>

<script type="text/javascript">
    $('#passwordChangeButton').click(function(){
    var user_id = $('#userIDField').val();
    var password1 = $('#password1').val();              
    var password2 = $('#password2').val(); 
    if (password2 == password1){
       $.ajax({
          url: '{% url 'change_password' %}',
          type:'POST',
          data:{
            'user_id' : user_id,
            'password': password2,      
          },
          success: function (data){
             if(data["success"] == 'True' ){
              window.location=window.location;
              console.log("success")
            }
            else{
              alert(data['error_msg']);
            }
          }
        });
     }
     else{
      document.getElementById("passwordvalidation").textContent="Password are not Same";
     }
    });
</script>
{% endblock %}