/*--BODY, FONTS, NAV, FOOTER--*/
body{
  background: ;
  font-family: Metropolis-Regular;
  padding-top: 70px;
}

#landingBody{
  background-image: url(/static//images/fractal.jpg);
  background-size: cover;
}

#landingBody img{
  opacity: 1;
}
}

@font-face {
  font-family: Minimo;
  src: local("Minimo"),
       url(Minimo.otf);
}

@font-face {
  font-family: Metropolis-Medium;
  src: local("Metropolis-Medium"),
       url(Metropolis-Medium.otf);
}

@font-face {
  font-family: Metropolis-Regular;
  src: local("Metropolis-Regular"),
       url(Metropolis-Regular.otf);
}

@font-face {
  font-family: Metropolis-Thin;
  src: local("Metropolis-Thin"),
       url(Metropolis-Thin.otf);
}

#myLandingNav{
  height: 30px;
  background: white;
  /*background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));*/
  border-bottom: none;
  color: grey;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  padding-bottom: 10px
}

#myNav{
  height: 50px;
  background: white;
  border-bottom: white;
}

#navbarLogo{
  height: 30px;
  color: grey;
  line-height: 30px;
  font-size: 30px;
  font-family: Minimo;
  padding-top: 10px;
}

#navData{
  text-align: center;
  float: right !important;
  color:red;
}

@media (min-width: 768px) {
    .navbar-header
    {
        float: none;
    }

    .navbar-toggle
    {
        display: block;
    }

    .navbar-collapse.collapse
    {
        display: none !important;
    }
}

#bar{
  background: grey;
}

#collapsedButton{
  border:none;
}

#collapsedButton:hover{
  background:white;
}

#collapsedButton:focus{
  background:white;
}

#collapsedButton:active{
  background:white;
}

.navbar-nav>li>a{
  line-height: 40px;
}

#rightUl>li>a{
  color:white;
  font-family: Metropolis-Thin;
  background: gray;
}

#footerText{
  height:30px;
  width: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  right:0;
  margin: auto;
  position: absolute; 
  text-align: center;
  color: grey;
}


#footerText a{
  color: grey;
}

#footerText h5{
  line-height: 10px;
}

#landingBoard{
  height:15vh;
  width: 90vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top:0;
  right:0;
  margin: auto;
  position: absolute; 
  border:;
/*  padding-top: 12px;
  border-radius: 8px;*/
  color: black;
  background-color:;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 font-family: Metropolis-Thin;
}

#landingContent{
  height:90vh;
  width: 85vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 70px;
  right:0;
  margin: auto;
  position: absolute; 
  border:none;
  /*border: 2px solid black;*/
  background: transparent;
  color:  #0084b4;
  /*color:black;*/
  font-family: Metropolis-Thin;
  overflow: hidden;
}

#landingPad1{
  background:; 
  height:80vh;

}

#landingPad2{
  background:; 
  height:80vh;
  display: table;
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 0px;
}

#landingPad2B{
  background:; 
  height:10vh;
  display: table;
  padding-left: 0px;
  margin-left: 0px;
  padding-right: 0px;
}

#landingPadCenter{
  background:; 
  height:100vh;
}

#landingPadCenter2{
  background:; 
  height:100vh;
}

#landingContent h1{
  font-size: 8vh;
}

#gsBtn{
  background: #0084b4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 15%;
  width: 70%;
  border: none;
  font-size: 5vh;
  color: white;
}

#gsBtn2{
  background: #0084b4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 15%;
  width: 30%;
  border: none;
  font-size: 5vh;
  color: white;
}

#suLinkBtn{
  background: #0084b4;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 12%;
  width: 30%;
  border: none;
  font-size: 5vh;
  color: white;
}



/*HOW IT WORKS*/
#hiwContent{
  height:80vh;
  width: 80vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top:0;
  right:0;
  margin: auto;
  position: absolute; 
  border: none;
  border-radius: 8px;
  color: grey;
  background-color: transparent;
/*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
*/  font-family: Metropolis-Thin;
}

/*ABOUT*/
#aboutContent{
  height:25vh;
  width: 100vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 0px;
  right:0;
  margin: auto;
  position: absolute;
  border: none; 
/*  border: 2px solid red;*/
  background: transparent;
  color: grey;
  font-family: Metropolis-Thin;
}

#aboutCol1{
  background:transparent;
  height:75vh;
  text-align: center;
  font-family: Metropolis-Thin;
  display: table;
  padding-left: 100px;
}

#aboutCol2{
  background:transparent;
  height:75vh;
  text-align: center;
  font-family: Metropolis-Thin;
}



#aboutImg{
  max-width:100%;
  max-height:100%;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow:0 5px 2px -2px gray;
  border-radius: 30px;
}

#aboutImg2{
  max-width:75%;
  max-height:90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*CONTACT ROUTE*/
#contactContent{
  height:15vh;
  width: 100vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 0px;
  right:0;
  margin: auto;
  position: absolute; 
  border:;
  background: transparent;
  color: black;
  font-family: Metropolis-Thin;
}

/*SIGN UP*/
#registerForm{
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;

}
#registerForm input{
  margin:0 auto;
  max-width: 75%;
  border-right: ;
  border-top: none;
  border-bottom: none;
  box-shadow: none;
  border-radius: 0px;
/*  min-height: 50px;
  font-size: 25px;*/

}

#registerForm label{
  text-align: center;

}

#signUpHeader{
  text-align: center; 
  padding-top: 5px;
  padding-bottom: 5px;
}

.form-group label{
  text-align: center;
}

#cu-btn{
  background: #0084b4;
  text-align: center;
  width: 100%;
  border:none;
  height: 50px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/*LOGIN*/
#bootContent{
  height: 40vh;
  width: 50vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 0;
  right:0;
  margin: auto;
  position: absolute; 
  border:;
  background: ;
  color: black;
}

#loginForm{
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
}

#loginForm label{
  text-align: center;

}

#loginForm input{
  margin:0 auto;
  max-width: 75%;
  border-right: ;
  border-top: none;
  border-bottom: none;
  box-shadow: none;
  border-radius: 0px;
/*  min-height: 50px;
  font-size: 25px;*/
}

/*VENDOR INDEX*/

#unassignedCol{
  /*background: rgba(0,0,0,0.2);*/
  background: transparent;
  min-height:68vh;
  max-height:68vh;
  /*border: 1px solid rgba(0,0,0,1);*/
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  padding-top: 20px;
  overflow: scroll;
  /*box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);*/
}

#orderRow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#assignedCol{
  /*background: rgba(0,0,0,0.2);*/
  min-height:68vh;
  max-height:68vh;
  border-left: 1px solid grey;
  border-top: 1px solid grey;
/*  border: 2px solid rgba(255,255,255,1);*/
/*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  padding-top: 20px;
  overflow: scroll;
}

#ctid{
  background: grey;
  border:none;
  border-radius: 0px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

#order_code{
  border-radius: 0px;
  min-height: 50px;
  background: ;
}

#order_code input::-webkit-input-placeholder{
  color: red !important;
}


.input-group-addon{
  border-radius: 0px;
}

#changeTriggerModalStyle{
  background: white;
  color:black;
  border:2px solid white;

}

#changeTriggerModalStyle input{
  border-right: ;
  border-top: none;
  border-bottom: none;
  box-shadow: none;
  border-radius: 0px;
}

#changeTriggerModalStyle label{
  color: black;
}

#triggerModalRow{
  background: rgba(0,0,0,0.2);
  height: 50px;
 /* border: 2px solid white;*/
  margin-bottom: 10px;
  text-align: center;
  
}

#triggerModalRow a{
  color:black;
}

#unassignedOrderRow{
/*  background: red;*/
  height: 14vh;
  margin-bottom: 10px;
}

#assignedOrderRow{
/*  background: red;*/
  height: 10vh;
  margin-bottom: 40px;
}

#unassignedOrderTicket{
/*  border:2px solid white;
*/  height: 100%;
  background: white;
}

#assignedOrderTicket{
  border:1px solid grey;
  height: 100%;
  /*background-color: red;*/
  /*background: rgba(0,0,0,0.2);*/
  color: white;
}

.unassignedOrderTicketText{
  height:100%;
  font-size: 12px;
  padding: 10px 15px;
  padding-left: 0px;
/*  background: orange;*/
}

#assignedOrderTicketNum{
  height:50%;
  /*background: rgba(0,0,0,0.2);*/
  text-align: left;
  width: 100%;
  font-size: 12px;
/*  border-bottom: 2px solid black*/
color:black;

}

#assignedOrderTicketLocation{
  height:50%;
  /*background: rgba(0,0,0,0.2);*/
  text-align: left;

  width: 100%;
  color:black;
  font-size: 12px;

}

.unassignedOrderTicketRow{
  height:100%;
  border: 1px solid grey;
/*  background: green;*/
}

#assignedOrderTicketRow{
  height:100%;
/*  background: green;
*/}

.unassignedOrderTicketRow a{
  color:white;
}

#assignedOrderTicketRow a{
  color:white;
}

/*unassigned Order items Detail*/
.unassignedOrderItems{
  width: 100%;
  height: 1%;
  float: left;
}

.orderReadyCol{
  height: 100%;
  /*background: linear-gradient(to top, rgba(164,231,134,0), rgba(90,212,39,1));*/
  /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#87FC70), to(#0BD318));*/
  background:#4CD964;
  outline :1px solid #4CD964;
  padding: 5% 0%;
  border-radius: 0px;
text-transform: uppercase;
font-size: 13px;
}

.closeOrderCol{
  height: 50%;
  background:#FF3B30;
  outline :1px solid #FF3B30;
  /*background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FF2A68), to(#FF5E3A));*/
  width: 100%
}

.itemDiv{
  font-size: 12px;
  margin-top: 2px;
  margin-left: 0px;
  width:100%;
  max-height: 100px; 
  display:inline-block;
  *display:inline;
  *zoom:1;
  vertical-align:top;
  /*border-left:solid 1px #cccccc;*/
}
.itemDiv .order_span{
  letter-spacing: 1px;
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden;
}

/*VENDOR ACCOUNT*/
#accountContent{
  height: 75vh;
  width: 80vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 0;
  right:0;
  margin: auto;
  position: absolute; 
  background: ;
  color: black;

}

#mainAccountRow{
  height: 100%;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}
#accountRow1{
  height: 50%;
  margin-left: 11.5%;
}

#accountRow2{
  height: 50%;
  margin-left: 11.5%;
}

#accountManageUsers{
  height:100%;
  background: rgba(0,0,0,0.2);
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid white;
  outline: 10px solid white;
  color:black;
  padding-top: 10%;
}


#accountBanking{
  height:100%;
  background: rgba(0,0,0,0.2);
  border: 2px solid white;
  outline: 10px solid white;
  margin-bottom: 20px;
  color:black;
  padding-top: 10%;

}

#accountGrid{
  height:100%;
  background: rgba(0,0,0,0.2);
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid white;
  outline: 10px solid white;
  color:black;
  padding-top: 10%;
}

#accountTriggers{
  height:100%;
  background: rgba(0,0,0,0.2);
  border: 2px solid white;
  outline: 10px solid white;
  color:black;
  padding-top: 10%;

}

/*BANKING*/
#bankingContent{
  height: 60vh;
  width: 80vw;
  margin: auto;
  border-top: 2px solid grey;
  /*background: rgba(0,0,0,0.2) ;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  overflow:auto;
}

.bankingBottom{
  margin-top: 30px;
  margin-right: 100px;
  float: right;
}
.bankingBottomLeft{
  margin: 20px;
  color: black;
  float: left;
}
.bankingBottomRight{
  margin-top: 23px;
  padding-left: 193px;
  color: #fff;
  float: right !important;
}

#abid{
  background: grey;
  border:none;
  border-radius: 0px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

#ubid{
  background: black;
  border:none;
  border-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#addBankContent{
  margin-top: 10%;
}

#add_bank_account_form{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: black;
  background: white;
  height: 80vh;
  width: 50vw;
  margin: auto;
  border: none;
  border-radius:8px;
  background: white;
  /*background: rgba(0,0,0,0.2) ;*/
  overflow:auto;
} 

#bankingHeader{
  background: rgba(0, 0, 0, 0.2)
}


/*#add_bank_account_form input{
  margin:0 auto;
  max-width: 75%;
  border-right: ;
  border-top: none;
  border-bottom: none;
  box-shadow: none;
  border-radius: 0px;
}*/

#add_bank_account_form label{
  text-align: center;
}

#row1{
  max-width: 50vw;
}

/*VENDOR USERS*/
#userContent{
  height: 60vh;
  width: 80vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 0;
  right:0;
  margin: auto;
  position: absolute; 
  border-top: 2px solid grey;
  background:;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#userContent th{
  text-align: center;
}

#changePass{
  background: #0084b4;
  color: white;
}

#changePass a{
  color: white;
}

#deleteUserBtn{
  background: #e82500;
}

#deleteUserBtn a{
  color: white;
}

#mainTable{
  background: rgba(0,0,0,0.2);
}
#mainTable tr{
  height:40px;
} 

#addUserModalStyle{
  background: white;
  color:black;
  border:2px solid white;
}

#addUserModalStyle input{
  border-right: ;
  border-top: none;
  border-bottom: none;
  box-shadow: none;
  border-radius: 0px;
}

#addUserModalStyle label{
  color: black;
}

#createUserBtn{
  background: black;
  text-align: center;
  width: 100%;
  border:none;
  height: 50px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  color: white;
}

#saveUserBtn{
  background: grey;
  border:none;
  border-radius: 0px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  color: white;
}

#changePasswordModalStyle{
  background: white;
  color:black;
  border:2px solid white;

}

#changePasswordModalStyle input{
  border-right: ;
  border-top: none;
  border-bottom: none;
  box-shadow: none;
  border-radius: 0px;
}

#changePasswordModalStyle label{
  color: black;
}

#passwordChangeButton{
  background: black;
  border:none;
  border-radius: 0px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  color: white;
  width: 100%;
  height: 50px;
}

#deleteUserModalStyle{
  background: white;
  color:black;
  border:2px solid white;
}

#deleteUserModalStyle input{
  border-right: ;
  border-top: none;
  border-bottom: none;
  box-shadow: none;
  border-radius: 0px;
}

#deleteUserModalStyle label{
  color: black;
}

/*TRIGGERS*/
#triggerContent{
  height: 60vh;
  width: 80vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 0;
  right:0;
  margin: auto;
  position: absolute; 
  border-top: 2px solid grey;
  background: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#triggerContent a {
  color:white;
}

#trigger8{
  background:rgba(0,0,0,0.2); 
  height:100%; 
  padding-top:3%; 
  text-align:left;
}

#trigger4{
  background:rgba(0,0,0,0.2); 
  height:100%; 
  padding-top:3%; 
  border-left:2px solid white;

}

#addTriggerBtn{
  background: grey;
  border:none;
  border-radius: 0px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  color: white;
}

#TriggerModalStyle{
  background: white;
  color:black;
  border:2px solid white;

}

#TriggerModalStyle input{
  border-right: ;
  border-top: none;
  border-bottom: none;
  box-shadow: none;
  border-radius: 0px;
}

#editTriggerModal label{
  color: black;
}

#btn_edit{
  background: red;
}

/*GRID*/
#select_trigger{
    color:black;
    text-align: center;
    border-radius: 0px;
}
#list_group{
    max-height: 300px;
    overflow-y:scroll;
    border-radius: 0px;
}

.list_item{
    text-align:center;
    border-radius: 0px;
    background: grey;
}

.list_item a{
  text-decoration:none;
  font-size:large;
  color: white;
  border-radius: 0px;
}

#trigger_container{
    width:525px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10%;
    border-top: 2px solid grey;
}

#gridContent{
  height: 50vh;
  width: 50vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 0;
  right:0;
  margin: auto;
  position: absolute; 
  background: white;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top: 2px solid grey;
}

#gridContent input{
  color: white;
  text-align: center;
/*  border: 2px solid black;*/
/*  background: grey;*/
  font-family: Metropolis-Thin;
  border-right: none ;
  border-top: none;
  border-left: none;
  border-bottom: 1px solid grey;
  box-shadow: none;
  border-radius: 0px;

}

#trigger_name {
    color: black;
    text-align: center;
    font-size: 5vh;
    background:rgba(0, 0, 0, 0.2);
}

#saveGridBtn{
  background: #0084b4;
  width: 40%;
  border-radius: 0px;
  color :white;
}

#ctAnchor{
  color:grey;
}

.list-group-item:first-child{
  border-top-left-radius:0px;
  border-top-right-radius:0px;
}

.list-group-item:last-child{
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
}

/*MENU*/
#menuContent{
  height: 60vh;
  width: 80vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 0;
  right:0;
  margin: auto;
  position: absolute; 
  border-top: 2px solid grey;
  background:;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#menuContent th{
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
}

#menuContent tr{
  color:black;
  background: white;
}

#EditMenuBtn{
  border-radius: 0px;
  width: 20%;

}

#saveMenuButton{
  border-radius: 0px;
  background: #0084b4;
  color: white
}

#addMenuButton{
  background: black;
  color: white;
  border-radius: 0px;

}

#cancelButton{
  background:white;
  border: 2px solid grey;
  border-radius: 0px;
  color:grey;
}








/*OLD
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
//
/*/















/*body{
  background: #28313A;
  font-family: Menlo;
  padding-top: 70px;
}*/

@font-face {
  font-family: Beon;
  src: local("Beon"),
       url(Beon.otf);
}

/*NAV / FOOTER*/
/*.navbar-fixed-top{
  height: 70px;
  background: pink;
}*/

/*LANDING ROUTE*/
.floatleft{
    float: left;
}
.clear{
    clear:both;
}
.labelform{
    width: 154px;
}
.fieldform {
}

.fieldform input,select{
    width: 154px;
}
.container-mid{
    width: 24%;
    margin: 0 auto;
}
.form-bottom{
    margin-top: 60px;
}
.bank-errors{
    color: red;
}

#buton{
    text-align:center;
}

.errormsg ul{
    text-align: right;
    list-style-type: none;
}

/*#landingContent{
  height:80vh;
  width: 100vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 70px;
  right:0;
  margin: auto;
  position: absolute; 
  border: none;
  background: white;
  color: white;
}*/

/*#landingBody{
  background-image: url('bartender.jpg');
  background-size: cover;
}

#landingBody img{
  opacity: 1;
}*/

#landingCopy{
  height: 100%;
  padding-top: 10%;
}

#landingCopy h1{
  font-family: Beon;
  font-size: 90px;
  color: red;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px red, 0 0 30px red, 0 0 40px red, 0 0 55px red, 0 0 75px red;
}

#landingCopy h2{
  font-family: Beon;
  font-size: 80px;
  color: red;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px blue, 0 0 30px blue, 0 0 40px blue, 0 0 55px blue, 0 0 75px blue;
}

/*#rightUl a{
  color: white;
}*/

.navbar {
  margin-bottom: 0px;
}

/*#myNav{
  height: 70px;
  background: #28313A;
  border-bottom: white;
}*/

/*#myLandingNav{
  height: 70px;
  background: grey;
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,1));
  border-bottom: white;
  color: red;
}*/

/*#navbarLogo{
  height: 70px;
  color: white;
  line-height: 40px;
}

#navbarLogo a{
  color:white;
}

#navData{
  text-align: center;
  float: right !important;
}

.navbar-nav>li>a{
  line-height: 40px;
}

.navbar-inverse .navbar-nav>li>a{
  color:white;
}*/

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

.right{
  position: absolute;
  right: 10px;
  bottom: 9px;
  height:7vh;
  background:;
}

/*#footerText{
  height:30px;
  width: 100%;
  bottom: 0;
  left: 0;
  top: 0;
  right:0;
  margin: auto;
  position: absolute; 
  text-align: center;
  color: white;
}


#footerText a{
  color: white;
}

#footerText h5{
  line-height: 10px;
}*/

/*INDEX ROUTE*/

#imaginary_container{
    margin-top:1%;
    margin-bottom: 2%;
    margin-left: 6%;
    width: 88%;
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
  border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

/*#unassignedCol{
  background: rgba(255,255,255,0.2);
  margin-right: 20px;
  min-height:68vh;
  max-height:68vh;
  border: 2px solid rgba(255,255,255,1);
  padding-top: 20px;
  overflow: scroll;
  box-shadow: 0px 0px 10px #fff;

}*/

/*#assignedCol{
  background: rgba(255,255,255,0.2);
  min-height:68vh;
  max-height:68vh;
  border: 2px solid rgba(255,255,255,1);
  padding-top: 20px;
  overflow: scroll;
}*/

/*#trigger_container{
    width:525px;
}*/

/*#select_trigger{
    color:white;
    text-align: center;
}
#list_group{
    max-height: 300px;
    overflow-y:scroll;
}

.list_item{
    text-align:center;
}

.list_item a{
  text-decoration:none;
  font-size:large
}*/

.item_det{
  width:49.5%;
  display: inline-block;
  float: left;
  text-align: left;
}
.item_det .span1{
  font-weight: 700;
  color:#222;
}
.item_det .span2{
  font-weight: 700;
  color:#308014;
  float:right;
}
.item_det1{
  float:left;
  width:100%;
}
.item_det1 .span1{
  float:left;
}
.item_det1 .span2{
  float:right;
}
.assigned-order{
    height: 100%;
    background: #980f0f;
    padding: 17px 0px;
    text-transform: uppercase;
    font-size: 13px;

}
@media (min-width: 992px) {
#orderView {
    margin-left: 0%;
  }
}

/*/**/*/

.scrolls { 
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  height: 91%;
  white-space:nowrap
} 
/*.itemDiv{
  font-size: 12px;
  margin-top: 2px;
  margin-left: 0px;
  width:60%;
  max-height: 100px; 
  display:inline-block;
  *display:inline;
  *zoom:1;
  vertical-align:top;
  border-left:solid 1px #cccccc;
}
.itemDiv .order_span{
  letter-spacing: 1px;
  text-overflow: ellipsis; 
  white-space: nowrap;
  overflow: hidden;
}*/

/*_________________________*/

/*.orderReadyCol{
  height: 100%;
  background:#1f381b;
  padding: 7% 0%;
text-transform: uppercase;
font-size: 13px;
}

.closeOrderCol{
  height: 50%;
  background:#560e17;
  width: 100%
}*/

#changeTrigger{
  background: ;
  text-align: center;
  color: white;
}

#changeTrigger a{
  color: white;
}

#loggedInAt{
  color:black;
  margin-left: 8.5%;
  background: ;
  padding-left: 0px;
}

#myTriggerModal{

}

#myTriggerModal button{
  color: rgba(255,255,255,1);
}

/*#triggerModalStyle{
  background: #28313A;
  color:white;
  border:2px solid white;
}*/

/*#triggerModalRow{
  background: rgba(255,255,255,0.2);
  height: 50px;
  border: 2px solid white;
  margin-bottom: 10px;
  text-align: center;
  
}

#triggerModalRow a{
  color:white;
}*/

/*ACCOUNT ROUTE*/
/*#accountContent{
  height: 75vh;
  width: 80vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 0;
  right:0;
  margin: auto;
  position: absolute; 
  background: ;
  color: #444954;

}

#mainAccountRow{
  height: 100%;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}
#accountRow1{
  height: 50%;
  margin-left: 11.5%;
}

#accountRow2{
  height: 50%;
  margin-left: 11.5%;
}

#accountManageUsers{
  height:100%;
  background: rgba(255,255,255,0.2);
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid white;
  outline: 10px solid #28313A;
  color:white;
  padding-top: 10%;
}


#accountBanking{
  height:100%;
  background: rgba(255,255,255,0.2);
  border: 2px solid white;
  outline: 10px solid #28313A;
  margin-bottom: 20px;
  color:white;
  padding-top: 10%;

}

#accountGrid{
  height:100%;
  background: rgba(255,255,255,0.2);
  margin-right: 20px;
  margin-bottom: 20px;
  border: 2px solid white;
  outline: 10px solid #28313A;
  color:white;
  padding-top: 10%;
}

#accountTriggers{
  height:100%;
  background: rgba(255,255,255,0.2);
  border: 2px solid white;
  outline: 10px solid #28313A;
  color:white;
  padding-top: 10%;

}*/

/*ABOUT ROUTE*/
/*#aboutContent{
  height:80vh;
  width: 100vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 70px;
  right:0;
  margin: auto;
  position: absolute; 
  border: none;
  background: transparent;
  color: white;
}*/

#aboutBody{
  background: black;
}

/*PRICING ROUTE*/
#pricingContent{
  height:80vh;
  width: 100vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 70px;
  right:0;
  margin: auto;
  position: absolute; 
  border: none;
  background: transparent;
  color: white;
}

#pricingBody{
  background: black;
}

/*CONTACT ROUTE*/
/*#contactContent{
  height:80vh;
  width: 100vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 70px;
  right:0;
  margin: auto;
  position: absolute; 
  border: none;
  background: transparent;
  color: white;
}

#contactBody{
  background: black;
}*/

/*GRID ROUTE*/
/*#gridContent{
  height: 45vh;
  width: 80vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 0;
  right:0;
  margin: auto;
  position: absolute; 
  background: ;
  color: white;

  padding-top: 10%;
}

#gridContent input{
  color: white;
  text-align: center;
  border: 2px solid white;
  background: #;
  font-family: Menlo;
}*/

/*#saveGridBtn{
  background: #e82500;
  border-radius: 0px;
}*/


.trigger1{
    border-radius: 0px;
    width: 292px;
    font-size: 41px;
    text-transform: capitalize;
    border-radius: 3px;
    background:#dedede !important;
}

#addTriggerModal h4{
    font-size: 29px;
    text-align: center;
}
#addTriggerModal p
{
  text-align: center;
  font-size: 17px;
  border-bottom: 1px solid #c1c1c1;
  padding: 10px;
  margin:0;
}
#addTriggerModal .form-group{
margin:0
}
#addTriggerModal p:last-child{
border-bottom: none;
}
#addTriggerModal .modal-body{

padding:0 !important;


}
#addTriggerModal a:hover{
color:#c1c1c1;
}
#addTriggerModal a{
color:#0099cc;
text-decoration:none;

}
/*BANKING ROUTE*/
/*#bankingContent{
  height: 60vh;
  width: 80vw;
  margin: auto;
  border: 2px solid white;
  background: rgba(255,255,255,0.2) ;
  color: white;
  overflow:auto;
}

.bankingBottom{
  margin-top: 30px;
  margin-right: 100px;
  float: right;
}
.bankingBottomLeft{
  margin: 20px;
  color: #fff;
  float: left;
}
.bankingBottomRight{
  margin-top: 23px;
  padding-left: 195px;
  color: #fff;
  float: right;
}*/

input[type="radio"] {
  -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
  -moz-appearance: checkbox;    /* Firefox */
  -ms-appearance: checkbox;     /* not currently supported */
}


/*MENU ROUTE*/
/*#menuContent{
  height: 60vh;
  width: 80vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 0;
  right:0;
  margin: auto;
  position: absolute; 
  border: 2px solid white;
  background:;
  color: #1b2c3d;
}

#menuContent th{
  text-align: center;
}*/

/*USERS ROUTE*/

/*#userContent{
  height: 60vh;
  width: 80vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 0;
  right:0;
  margin: auto;
  position: absolute; 
  border: 2px solid white;
  background:;
  color: white;

}

#userContent th{
  text-align: center;
}

#changePass{
  background: #e82500;
}

#deleteUserBtn{
  background: #e82500;
}

#mainTable{
  background: rgba(255,255,255,0.2);
}
#mainTable tr{
  height:40px;
} */


/*TRIGGER ROUTE*/
/*#triggerContent{
  height: 60vh;
  width: 80vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 0;
  right:0;
  margin: auto;
  position: absolute; 
  border: 2px solid white;
  background: red;
  color: white;
}

#triggerContent a {
  color:white;
}*/

/*BOOT ROUTE*/
/*#bootContent{
  height: 60vh;
  width: 80vw;
  text-align: center;
  bottom: 0;
  left: 0;
  top: 0;
  right:0;
  margin: auto;
  position: absolute; 
  border: 2px solid white;
  background: ;
  color: black;
  padding-left: 10vw;
}*/

#bootContent input:focus,
#bootContent select:focus,
#bootContent textarea:focus,
#bootContent button:focus {
    outline: none;
}

#bootContent label{
  text-align: left;
}


#pwr:visited{
  display: none;
}

/*.modal-dialog{
  margin: 29vh auto;
  width:25vw;
}*/

.modal-dialog{
  margin: 20vh auto;
  width:40%;
}

#myBootModal {
  color: rgba(255,255,255,1);

}

#bootModalStyle{
  background: #28313A;
  color:white;
  border:2px solid white;
}

#bootModalStyle a{
  background: rgba(255,255,255,1);
  color: #28313A;
}

/*#trigger_name {
    color: black;
    text-align: center;
}*/

/*---over-lay------*/

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.2);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

/*---------------*/