<div class="modal fade" id="confirm-block" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
                <h4 class="modal-title">Confirm User Block</h4>
            </div>
            <div class="modal-body">
                <h5 class="modal-title">Are you sure you want to block the user ?</h5>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="block_user" data-dismiss="modal">Block</button>
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>