{% extends "base.html" %}

{% block content %}
  <div id="bootContent">
      <form role="form" action="" method="post" class="login-form" id="loginForm">
        <div id="signUpHeader"><h1>Login</h1></div>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            <!-- <label for="id_username">Username/Email:</label> -->
            <input type="text" name="username" placeholder="Username/ Email"
                   class="form-username form-control" id="id_username">
            {% if form.username.errors %}
            <span class="help-inline">{{form.username.errors}}</span>
            {% endif %}
        </div>                    
        <div class="form-group">
        <!--   <label for="id_password">Password:</label> -->
          <input type="password" name="password" placeholder="Password"
                 class="form-password form-control" id="id_password">
          {%if form.password.errors %}
          <span class="help-inline">{{form.password.errors}}</span>
          {% endif %}
        </div>
        <br>
        <button type="submit" class="btn btn-primary" id="cu-btn">Login</button>
      </form>
  </div>



{% endblock %}
