

{% extends "base_user.html" %}
{% block content%}
<!-- <div class="container">
    <div class="row">
        <div class="col-md-9 no-float" style="color:#fff">
            <div style="margin-left: 100px;">
            <h4>Email sent. Please verify your account by clicking the link in the email.</h4>
            </div>      
        </div>
    </div>
</div> -->

  <div id="aboutContent">
  	<h3><span style="color:black;">Vefirication Email Sent</span></h3>
  	<br>
    <h3>Please verify your account by clicking the link in the email.</h3>
  </div>
{% endblock%}