{% extends "base_user.html" %}
{% block content%}
<!-- <div class="container">
    <div class="row">
        <div class="col-md-9 no-float" style="color:black">
            <div style="margin-left: 100px;">
                <h4> The link you followed is invalid or probably already used.</h4>
            </div>      
        </div>
    </div>
</div> -->

<div id="aboutContent">
	<h3><span style="color:black;">Oops.</span></h3>
	<h3>The link you followed is invalid or probably already used.</h3>
</div>
{% endblock%}