<html>
<head lang="en">
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <title>SMS Verification</title>
</head>
<body>
<div class="form-box" id="login-box">
    <form action="{{ app_path }}" method="post">
        <div class="body bg-gray">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="footer">
            <button type="submit" class="btn bg-olive btn-block">Submit</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    document.getElementById('id_mobile_number').focus()
</script>
</body>
</html>