{% extends 'index.html' %}
{% block content %}
<nav role="navigation" class="navbar navbar-default navbar-fixed-top" style="background: #34495e">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" style="color: white">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand" id="brand"><i><b>Barhop</b></i><sub> Alpha</sub></a>
    </div>
    
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse" style="color: white">
        {% if not user.is_authenticated %}
        <ul class="nav navbar-nav">
            <li><a href="{%url 'how_it_works'%}" id="navlinks" >How it Works</a></li>
            <li><a href="{%url 'about_us'%}" id="navlinks" >About Us</a></li>
            <li><a href="{%url 'contact_us'%}" id="navlinks" >Contact Us</a></li>
            <li><a href="https://medium.com/@Barhop" target="_blank" id="navlinks">Blog</a></li>
        </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right" style="color: #ffffff">
            {% if user.is_authenticated %}
            <li><a href="{%url 'profile'%}" id="navlinks">My Account</a></li>
            {% else %}
            <li><a href="{% url 'login' %}" id="navlinks">Login</a></li>
            <li><a href="{% url 'sign_up' %}" id="navlinks">Sign Up</a></li>
            {%endif%}
        </ul>
    </div>
</nav>

<div class="content2">
 
    <img src="/static/images/about_usBM.png" height="150" width="150" style="display:inline-block;">
    <h4> Brandon McFarland </h4>
    <h6> SMU | @BranMcF | Software Developer</h6>

    <img src="/static/images/about_usJB.png" height="150" width="150" style="display:inline-block;">
    <h4> Jean Brigonnet </h4>
    <h6> SMU | @SPEEKER_ | Business Development </h6>

    <br>
</div>
{% endblock %}