<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Icon -->
    <link rel="icon" type="image/png" href="/static/images/barhop_icon.png">

    <!-- Site title -->
    <title>Barhop</title>

    <!-- Bootstrap CDN -->

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/ws4redis.js"></script>
    <script src="/static/js/app.js"></script>
    {%block js_content %}
    {%endblock%}
    <link rel="stylesheet" href="/static/css/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Personal Stylesheet -->
    <link rel="stylesheet" href="/static/css/style.css">

    <!-- Pacifico Font-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico">
</head>

<body>
{%block content %}
{% endblock %}
</body>
</html>