{% extends "landingBase.html" %}
{% block content %}

<div id="landingContent">
	<div class="row">
		<div class="row">
			<!-- <h1>The best way in the world to order a drink!</h1> -->
			<!-- <h1>Accept drink orders via SMS!</h1> -->
			<!-- <h1>Provide X to your customers!</h1> -->
			<h1>Let your customers place orders via SMS!</h1>
		</div>
		<div class="row">
			<div class="col-md-12" id="landingPad2B">
				<div style="display: table-cell; vertical-align: middle;">
		            <div>
		             <a type="button" class="btn" id="gsBtn2" href="/about_us/" >Learn More!</a>
		            </div>
		        </div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-12" id="landingPadCenter2">
			<img src="/static/images/vendor_index.png" id="aboutImg2">
			</div>
		</div>
	</div>
</div>
  {% endblock %}

<!-- VERSION 2 WITH PHONE DO NOT DELETE
  <div id="landingContent">
	<div class="row">
		<div class="row">
			<h1>The best way in the world to order a drink!</h1>
		</div>
		<div class="row">
			<div class="col-md-6" id="landingPadCenter">
			<img src="/static/images/iphone_text.png" id="aboutImg">
			</div>
			<div class="col-md-6" id="landingPad2">
				<div style="display: table-cell; vertical-align: middle;">
		            <div>
		             <a type="button" class="btn" id="gsBtn" href="/about_us/" >Learn More!</a>
		            </div>

		        </div>
			</div>
		</div>
	</div> -->
</div>