{% extends 'index.html'%}
{% block content%}
<div class="container">
    {% if user.twilio_mobile %}
    You have already purchased a number%}
    {%else %}
    <div class="row">
        <!-- Left Navigation -->
        <div class="col-md-3 no-float">
            <form id='add_number_form' role="form" method="post">
                {% csrf_token %}
                <div class="row">
                    <div id="postcode_group">
                        <label for="id_postcode">Postcode :</label>
                        <input type="text" id="id_postcode" name="postal_code" class="form-control"
                               size=4 placeholder="near US postal code (e.g. 9411)">
                    </div>
                </div>
                <div class="row">
                    <div id="near_group">
                        <label for="id_near_number">Near Number :</label>
                        <input type="text" class="form-control" id="id_near_number" size=11 name="near_number"
                               placeholder="near this other number (e.g. +14156562345):">
                    </div>
                    <br/>
                </div>
                <div class="row">
                    <div id="number_contains_group">
                        <label for="id_pattern">Pattern :</label>
                        <input class="form-control" id="id_pattern" name="contains" size="11"
                               placeholder="matching this pattern (e.g. 1234**)">
                    </div>
                    <br/>
                </div>
                <div class="row">
                    <div class="form-group">
                        <button class="btn btn-primary pull-center" type="submit">SEARCH</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- Conent -->
        <div class="col-md-9 no-float">
            <h2>Availiable Numbers</h2>

            <p>The .table-hover class enables a hover state on table rows:</p>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Phone Number</th>
                    <th>Rate Center</th>
                    <th>Postal Code</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                {% for item in numbers %}
                <tr>
                    <td>{{item.phone_number}}</td>
                    <td>{{item.rate_center}}</td>
                    <td>{{item.postal_code}}</td>
                    <td><a href="{%url 'trophy:purchase' item.phone_number%}" class="glyphicon glyphicon-ok pull-right" style="#34495e"></a></td>
                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    {%endif%}
</div>
{% endblock%}