
{% extends "base_inner.html" %}
{% block content %}

  <div class="row" style="text-align:center;">
    <div class="col-md-12 col-md-offset-1" id="orderView">
      <div class="col-md-5" id="unassignedCol">
        <div class="row" id="unassignedOrderRow">
          <div class="col-md-10 col-md-offset-1" id="unassignedOrderTicket">
            <div class="row" id="unassignedOrderTicketRow">
              <div class="col-md-10" id="unassignedOrderTicketText">
                Order
              </div>
              <a href="">
              <div class="col-md-2" id="orderReadyCol">
                Order Ready
              </div>
              </a>
            </div>
          </div>
        </div>

        <div class="row" id="unassignedOrderRow">
          <div class="col-md-10 col-md-offset-1" id="unassignedOrderTicket">
            <div class="row" id="unassignedOrderTicketRow">
              <div class="col-md-10" id="unassignedOrderTicketText">
                Order
              </div>
              <a href="">
              <div class="col-md-2" id="orderReadyCol">
                Order Ready
              </div>
              </a>
            </div>
          </div>
        </div>

        <div class="row" id="unassignedOrderRow">
          <div class="col-md-10 col-md-offset-1" id="unassignedOrderTicket">
            <div class="row" id="unassignedOrderTicketRow">
              <div class="col-md-10" id="unassignedOrderTicketText">
                Order
              </div>
              <a href="">
              <div class="col-md-2" id="orderReadyCol">
                Order Ready
              </div>
              </a>
            </div>
          </div>
        </div>

        <div class="row" id="unassignedOrderRow">
          <div class="col-md-10 col-md-offset-1" id="unassignedOrderTicket">
            <div class="row" id="unassignedOrderTicketRow">
              <div class="col-md-10" id="unassignedOrderTicketText">
                Order
              </div>
              <a href="">
              <div class="col-md-2" id="orderReadyCol">
                Order Ready
              </div>
              </a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-5" id="assignedCol">
        <div class="row" id="assignedOrderRow">
          <div class="col-md-10 col-md-offset-1" id="assignedOrderTicket">
            <div class="row" id="assignedOrderTicketRow">
              <div class="col-md-10" id="assignedOrderTicketNum">
                Order number:
              </div>
              <div class="col-md-10" id="assignedOrderTicketLocation">
                Location:
              </div>
              <a href="">
              <div class="col-md-2" id="closeOrderCol">
                Close Order
              </div>
              </a>
            </div>
          </div>
        </div>

        <div class="row" id="assignedOrderRow">
          <div class="col-md-10 col-md-offset-1" id="assignedOrderTicket">
            <div class="row" id="assignedOrderTicketRow">
              <div class="col-md-10" id="assignedOrderTicketNum">
                Order number:
              </div>
              <div class="col-md-10" id="assignedOrderTicketLocation">
                Location:
              </div>
              <a href="">
              <div class="col-md-2" id="closeOrderCol">
                Close Order
              </div>
              </a>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- order view-->
  </div> <!-- main row-->

<div class="row">
  <div class="col-md-3" id="loggedInAt">
    Logged in @trigger
  </div>
  <div class="col-md-4" id="changeTrigger">
    <a id="ctid" data-toggle="modal" data-target="#myTriggerModal">Change Trigger</a>

    <!-- Modal -->
  <div class="modal fade" id="myTriggerModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" id="triggerModalStyle">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Triggers</h4>
        </div>
        <div class="modal-body">
          <div class="row" id="triggerModalRow">
            <a href="">Trigger 1</a>
          </div>
          <div class="row" id="triggerModalRow">
            <a href="">Trigger 2</a>
          </div>
          <div class="row" id="triggerModalRow">
            <a href="">Trigger 3</a>
          </div>
        </div>
<!--         <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div> -->
      
    </div>
  </div>
  </div>
  <!-- END MODAL -->
</div>

{% endblock %}