
{% extends "base_inner.html" %}
{% block content %}
 <div class="container">
  <div class="row" style="text-align:center;">
    <div id="orderView">
      <div class="col-md-6" id="unassignedCol" style="overflow:auto;">
        {% if purchase_paid_orders %}
        {% for order in purchase_paid_orders %}
        <div class="row ready_{{order.id}}" id="unassignedOrderRow">
          <div class="col-md-10 col-md-offset-1" id="unassignedOrderTicket">
            <div class="row unassignedOrderTicketRow" id="orderDataList">
              <div class="col-md-10 unassignedOrderTicketText" id="">
                <div class="unassignedOrderItems">               
                </div>
                <div class="scrolls" id="paidOrderList">
                  {% for item in order.items %}
                    <div class="itemDiv">
                      <div class="order_span"> Item : {{item.menu_item.item_name}}</div><br>
                      <div class="order_span"> Quantity : {{item.quantity}} </div>
                    </div>
                  {% endfor %}
                </div>
              </div>              
              <a href="">
              <div class="col-md-2 orderReadyCol" id={{order.id}}>
                Order Ready
              </div>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
          <p id="emptyReady">There are no orders to show</p>
        {% endif %}
      </div>

      <div class="col-md-6" id="assignedCol" style="overflow:auto;">
        <div id="imaginary_container">
          <span id="searchError" style="display:none;">Please enter a Order Code </span> 
          <div class="input-group stylish-input-group">
              <input type="text" id="order_code" class="form-control"  placeholder="Search" >
              <span class="input-group-addon">
                  <button id="searchButton">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>  
              </span>
          </div>
        </div>
        <div id="orderListToClose">
        {% if purchase_ready_orders %}
        {% for order in purchase_ready_orders %}
        <div class="row close_{{order.id}}" id="assignedOrderRow">
          <div class="col-md-10 col-md-offset-1" id="assignedOrderTicket">
            <div class="row" id="assignedOrderTicketRow">
              <div class="col-md-10" id="assignedOrderTicketNum">
                Order Code: {{order.order_code}}
              </div>
              <div class="col-md-10" id="assignedOrderTicketLocation">
                Location : {{order.location}}
              </div>
              <a href="">
              <div class="col-md-2 closeOrderCol" id="{{order.id}}">
                Close Order
              </div>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
          <p id="emptyClose">There are no orders to show  </p>
        {% endif %}
        </div>
      </div>

    </div> <!-- order view-->
  </div> <!-- main row-->

<div class="row" style="margin-top: 30px;">
  <div class="col-md-3" id="loggedInAt">
    <!-- Logged in @trigger -->
  </div>
  <div class="col-md-4" id="changeTrigger">
    <a id="ctid" data-toggle="modal" data-target="#myTriggerModal" class="btn btn-primary">Change Trigger</a>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="myTriggerModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" id="triggerModalStyle">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Triggers</h4>
        </div>
        <div class="modal-body">
          {% for trigger in triggers %}
          <div class="row" id="triggerModalRow">
            <a href="/?trigger={{trigger.id}}" class="btn btn-link">{{trigger.trigger_name}}</a>
          </div>
          {% endfor %}
        </div>      
      </div>
    </div>
  </div>
  </div>
  <!-- END MODAL -->

  {% if warning_message %}
  <!-- Modal pop up-->
  <div class="modal fade" id="popUp" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" id="triggerModalStyle">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><center>Warning!!!</center></h4>
        </div>
        <div class="modal-body">
          {% if warning_message %}
               <center>{{ warning_message|safe }}</center>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- END MODAL -->
 {% endif %}


<script type="text/javascript">
  
  $(".orderReadyCol").on("click", function(event){
    event.preventDefault();
    var order_id = $(this).attr('id');
    $.ajax({
      url: '/account/order_ready/',
      type:'POST',
      data:{
        order_id:order_id,
      },
      success: function (data){
        if (data['error_msg']){
          console.log("error message");
        }
        else{          
          order_id = order_id.toString();
          $(".ready_"+order_id).remove();
          $("#emptyClose").remove();
          $('#orderListToClose').append(data);
        }
      }
    });
  });

  
  $(".closeOrderCol").on("click", function(event){
    event.preventDefault();
    var order_id = $(this).attr('id');
    $.ajax({
      url: '/account/order_close/',
      type:'POST',
      data:{
        order_id:order_id,
      },
      success: function (data){
        order_id = order_id.toString();
        if (data['error_msg']){
          console.log("error message");
        }
        else{  
          $(".close_"+order_id).remove();
        }
      }
    });
  });


//______search using order_code__________

$('#searchButton').click(function(){
  $("#searchError").hide();
  var order_code = $('#order_code').val();
  if (order_code != ''){
    $.ajax({
      url: '/',
      type:'POST',
      data:{
        order_code:order_code,
      },
      success: function (data){
          $("#orderListToClose").html(data);
      }
    });
  }
  else{
    $("#searchError").show();
  }
});
//____________________________________________


<!--modal pop up-->

$(window).load(function(){
    {% if warning_message %}
    $('#popUp').modal('show');
    {% endif %}
});


//setInterval(function(){
  order_array = []
  $('.orderReadyCol').each(function(i, obj) {
      order_array.push(obj.id);
  });
  console.log("setintervel");
  $.ajax({
    url: '/account/new_order/',
    type:'POST',
    data:{
      order_data:order_array.toString(),
    },
    success: function (data){
      if (data['error_msg']){
        console.log("error message");
      }
      else{  
        $("#emptyReady").remove();
        $('#unassignedCol').append(data);
      }      
    }
  });  
//},50000)

</script>

{% endblock %}
