
{% extends "base_inner.html" %}
{% block content %}

  <div class="row" style="text-align:center;">
    <div class="col-md-12 col-md-offset-1" id="orderView">
      <div class="col-md-5" id="unassignedCol">

        {% for order in purchase_paid_orders %}
        <div class="row" id="unassignedOrderRow" style="overflow:auto;">
          <div class="col-md-10 col-md-offset-1 asd" id="unassignedOrderTicket">

            <div class="row unassignedOrderTicketRow" id="orderDataList">
              <div class="col-md-10 unassignedOrderTicketText" id="">
                <span>Item : {{ order.menu_item.item_name }}</span>
                <span>Price : {{ order.menu_item.item_price }}</span><br>
                <span>Status :{{ order.order_status }}</span>
                <span>Expires : {{ order.expires }}</span>
              </div>
              <a href="">
              <div class="col-md-2 orderReadyCol" id={{order.id}}>
                Order Ready
              </div>
              </a>
            </div>

          </div>
        </div>
        {% endfor %}

      </div>

      <div class="col-md-5" id="assignedCol">
        {% for order in purchase_ready_orders %}
        <div class="row" id="assignedOrderRow" style="overflow:auto;">
          <div class="col-md-10 col-md-offset-1" id="assignedOrderTicket">
            <div class="row" id="assignedOrderTicketRow">
              <div class="col-md-10" id="assignedOrderTicketNum">
                <table style="font-size: 11px;">
                  <tr>
                    <td> Item : {{ order.menu_item.item_name }}</td>
                    <td> Price : {{ order.menu_item.item_price }} </td>
                  </tr>
                  <tr>
                    <td> Status :{{ order.order_status }}</td>
                    <td>  Expires : {{ order.expires }}</td>
                  </tr>
                </table>
              </div>
              <!-- <div class="col-md-10" id="assignedOrderTicketLocation">
                Location:
              </div> -->
              <a href="">
              <div class="col-md-2 closeOrderCol" id={{order.id}}>
                Close Order
              </div>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}


      </div>

    </div> <!-- order view-->
  </div> <!-- main row-->

<div class="row">
  <div class="col-md-3" id="loggedInAt">
    Logged in @trigger
  </div>
  <div class="col-md-4" id="changeTrigger">
    <a id="ctid" data-toggle="modal" data-target="#myTriggerModal">Change Trigger</a>

    <!-- Modal -->
  <div class="modal fade" id="myTriggerModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" id="triggerModalStyle">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Triggers</h4>
        </div>
        <div class="modal-body">
          {% for trigger in triggers %}
          <div class="row triggerModalRow" id={{trigger.id}}>
            <a href="/?trigger={{trigger.id}}">{{trigger.trigger_name}}</a>
          </div>
          {% endfor %}
        </div>
<!--         <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div> -->
      
    </div>
  </div>
  </div>
  <!-- END MODAL -->
</div>
<script type="text/javascript">
  $('.orderReadyCol').click(function(event){
    order_id = $(this).attr('id');
    $.ajax({
      url: '/account/order_ready/',
      type:'POST',
      data:{
        order_id:order_id,
      },
      success: function (data){
        if(data["success"] == 'True' ){
          update_messages(data.messages);
        }
        else{
          update_messages(data.error_msg);
        }
      }
    });

  });

  $('.closeOrderCol').click(function(event){
    order_id = $(this).attr('id');
    $.ajax({
      url: '/account/order_close/',
      type:'POST',
      data:{
        order_id:order_id,
      },
      success: function (data){
        if(data["success"] == 'True' ){
          update_messages(data.messages);
        }
        else{
          update_messages(data.error_msg);
        }
      }
    });

  });


</script>

{% endblock %}