{% extends "base_user.html" %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-9 no-float" style="color:#fff">
            <h2> Invoice </h2>
            <table class="table">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for item in order_details %}
                <tr>
                    <td>{{ item.item_name }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.total }}</td>
                </tr>
                {% endfor %}
                <tr>
                    <th></th>
                    <th></th>
                    <th>TAX </th>
                    <th>{{tax}}</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>TIP</th>
                    <th>{{tip}}</th>
                </tr>
                <tr>
                    <th></th>
                    <th></th>
                    <th>Grand Total </th>
                    <th>${{grand_total}}</th>
                </tr>
                </tbody>
            </table>
            <div style="margin-left: 85%;">
                <div class="container">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{data.id}}">
                        <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{data.data_key}}"
                            data-amount="{{data.data_amount}}"
                            data-name="{{data.data_name}}"
                            data-description="{{data.data_description}}"
                            data-image="/static/images/barhop_icon.png"
                            data-locale="auto">
                        </script>
                    </form>
                </div>
            </div>            
        </div>
    </div>
</div>
{% endblock%}