{% extends "base_user.html" %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-9 no-float" style="color:#fff">
            <div style="margin-left: 100px;">
                <h2> Payment Successfull</h2>
                <p>We have sent you the order details to your Mobile</p>
                <hr>
                <table>
                    <thead>
                    <tr>
                        <td> </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td><b>Payment ID</b> : QR0054N5FT52111 </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Paid To</b> : BarHop </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Amount Paid</b> : 200 $ </td>
                    </tr>
                    </tbody>
                </table>
                
            </div>
            <!-- <table class="table">
                <thead>
                <tr>
                    <td> </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td></td>
                    <td><b>Payment ID</b> : QR0054N5FT52111 </td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Paid To</b> : BarHop </td>
                </tr>
                <tr>
                    <td></td>
                    <td><b>Amount Paid</b> : 200 $ </td>
                </tr>
                </tbody>
            </table> -->            
        </div>
    </div>
</div>
{% endblock%}