{% extends "base_user.html" %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-9 no-float" style="color:#fff">
            <div style="margin-left: 100px;">
                <h2> Payment Successfull</h2>
                <p>Your payment has been processed. We will let you know when your drink is ready.</p>
                <hr>
                <table>
                    <thead>
                    <tr>
                        <td> </td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td><b>Order No:</b> : {{payment_data.order.order_code}} </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><b>Amount Paid</b> : ${{payment_data.total_amount}}  </td>
                    </tr>
                    </tbody>
                </table>
                
            </div>      
        </div>
    </div>
</div>
{% endblock%}